.footer {
    margin: 100px 200px 20px 200px;

    .wrapper {

        .top {
            display: flex;
            gap: 50px;

            .topChild {
                flex: 1;

                h3 {
                    color: rgb(70, 69, 69);
                    font-size: 16px;
                }

                span {
                    display: flex;
                    cursor: pointer;
                    font-size: 14px;
                    margin: 10px;
                    color: rgb(114, 114, 114);
                }

                p {
                    text-align: justify;
                    font-size: 14px;
                    color: rgb(101, 101, 101);
                }

                .social {
                    color: rgb(101, 101, 101);
                    display: inline;
                    margin-right: 10px;
                    cursor: pointer;

                    &:hover {
                        color: rgb(96, 96, 255);
                    }
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;

            .left {
                h2 {
                    font-size: 22px;
                    color: rgb(10, 10, 57);
                    font-weight: 600;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }

            .right {
                p {
                    color: grey;
                    font-size: 14px;
                }
            }
        }
    }
}